
.$BR_Lab.drawio.bkp
misc/lab.drawio
CL25 EMEA Speaker PPT DEVWKS-2486.pptx
misc/.$lab.drawio.bkp
~$CL25 EMEA Speaker PPT DEVWKS-2486.pptx
misc/archi_0.jpg
misc/videos/Part1&Part2.mov
misc/videos/Part3-CLI.mov
misc/videos/Part3-Grafana.mov
misc/videos/Part3-Grafana2.mov
misc/videos/Part3-Quit.mov
